body {
	background-color: indigo;
	text-align: center;
}

h {
	color: gainsboro;
	font-family: verdana;
	font-size: 300%;
	text-align: center;
}

p {
	color: mistyrose;
	font-family: verdana;
	font-size: 140%;
	text-align: center;
}

textarea {
	display: block;
	margin-left: auto;
	margin-right:auto;
	padding: 50px;
}

.radio-button {
	position: relative;
}

.radio-button label {
	font-family: verdana;
	font-size: 24px;
	color: mistyrose;
	vertical-align: middle;
	padding: 50px;
}

.checkbox-example {
	position: relative;
}

.checkbox-example label {
	font-family: verdana;
	font-size: 24px;
	color: mistyrose;
	vertical-align: middle;
	padding: 50px;
}

label {
	color: mistyrose;
	font-family: verdana;
	font-size: 140%;
	text-align: center;
	display: block;
	padding: 50px;
}

select {
	vertical-align: middle;
	height: 32px;
	width: auto;
	padding: 50px;
}

option {
	vertical-align: middle;
	font-size: 28px;
	padding: 50px;
}

ul.a {
	list-style-type: circle;
	display: block;
	margin-left: auto;
	margin-right:auto;	
}

#button (

)