body {
	background-color: indigo;
	text-align: center;
}

h {
	color: gainsboro;
	font-family: verdana;
	font-size: 300%;
	text-align: center;
}

p {
	color: mistyrose;
	font-family: verdana;
	font-size: 140%;
	text-align: center;
}

textarea {
	display: block;
	margin-left: auto;
	margin-right:auto;
	padding: 50px;
}

select {
	margin-left: auto;
	margin-right:auto;
	height: auto;
	padding: 40px;
}

label {
	color: mistyrose;
	font-family: verdana;
	font-size: 125%;
	display: block;
	text-align: center;
	padding: 50px;
}

.radio-button {
	vertical-align: middle;
}

.radio-button label {
	padding: 25px;
	position: relative;
}

.checkbox-example {
	vertical-align: middle;
}

.checkbox-example label {
	padding: 25px;
	position: relative;
}

questions {
	color: mistyrose;	
	font-size: 125%;
	display: block;
	text-align: center;
	padding: 50px;
}

select {
	vertical-align: middle;
	height: 24px;
	width: auto;
	padding: 40px;
}

option {
	font-size: 25px;
}

ul.a {
	list-style-type: circle;
	display: block;
	margin-left: auto;
	margin-right:auto;	
}

button {
	padding: 50 px;
}

