/*Code modified from code provided in lab session originally written by Caroline Barriere*/
/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

body {
	background-color: #8F3A84;
	text-align: center;
}

h {
	color: gainsboro;
	font-family: verdana;
	font-size: 300%;
	text-align: center;
	padding: 100 px;
}

p {
	color: mistyrose;
	font-family: verdana;
	font-size: 100%;
	text-align: center;
}

footer {
	color: mistyrose;
	font-family: verdana;
	font-size: 100%;
	text-align: middle;
	position: fixed;
	bottom: 0;
}

h3 {
	color: gainsboro;
	font-family: verdana;
	font-size: 200%;
	text-align: center;
}

select {
	color: black;
	font-family: verdana;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding: 30px;
}

label {
	color: mistyrose;
	font-family: verdana;
	font-size: 100%;
	display: block;
	text-align: center;
	padding: 50px;
}

.checkbox-example label {
	padding-right: 15px;
}

button {
	padding: 50 px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #2D1562;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 50 px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: mistyrose;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}