/*Code modified from code provided in lab session originally written by Caroline Barriere*/
/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

body {
	background-color: #8F3A84;
	text-align: center;
}

h {
	color: gainsboro;
	font-family: verdana;
	font-size: 300%;
	text-align: center;
}

p {
	color: mistyrose;
	font-family: verdana;
	font-size: 100%;
	text-align: center;
}

